@charset "UTF-8";
html, body {
  color: #323334;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #65D36E;
}

a:hover {
  color: #3f8445;
}

[v-cloak] * {
  display: none;
}

[v-cloak]::before {
  content: "loading\2026";
}

.box {
  -webkit-transition: all 1s;
  transition: all 1s;
  display: block;
  width: 100%;
}

.box {
  padding: 10px;
  -webkit-box-shadow: 0 1px 0 rgba(10, 10, 10, 0.1);
          box-shadow: 0 1px 0 rgba(10, 10, 10, 0.1);
  border-radius: 0;
}

.box:not(:last-child) {
  margin-bottom: .5rem;
}

.flip-list-enter, .flip-list-leave-to {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.flip-list-leave-active {
  opacity: 0;
  -webkit-transition: opacity .2s, -webkit-transform 1s;
  transition: opacity .2s, -webkit-transform 1s;
  transition: opacity .2s, transform 1s;
  transition: opacity .2s, transform 1s, -webkit-transform 1s;
  position: absolute;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.what {
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 100%;
}

.level-left,
.level-right {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.level-right {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .level-left + .level-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .columns.is-variable .column {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
